<mat-card *ngIf="product" [ngClass]="{'w-[200px]': !fullWidth, 'w-[350px]': fullWidth}">

    <div *ngIf="fullWidth" class="text-center mt-2 mb-2">

        <h5>{{product.name}}</h5>

        <mat-divider></mat-divider>

    </div>

    <div [ngClass]="{'justify-center': !fullWidth, 'justify-between': fullWidth}" class="flex p-3">

        <img [ngClass]="{'mr-4': fullWidth}" class="mr-4 h-[150px]" [src]="product.image" />

        <div *ngIf="fullWidth" class="">

            <h5 class="mt-6">{{product.shortDescription}}</h5>

            <div class="mt-8">

                <h5 class="price-color">{{product.price}} €</h5>

                <h6 class="text-xs">{{product.pricePerUnitText}}</h6>

            </div>

        </div>

    </div>

</mat-card>